<main class="main">
  <div class="content">
    <div class="left-side">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <!-- Name Field -->
        <div>
          <label for="name">Name:</label>
          <input id="name" formControlName="name" />
          <div *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched">
            <small *ngIf="registrationForm.get('name')?.errors?.['required']">Name is required.</small>
            <small *ngIf="registrationForm.get('name')?.errors?.['minlength']">
              Name must be at least 3 characters long.
            </small>
          </div>
        </div>

        <!-- Age Field -->
        <div>
          <label for="age">Age:</label>
          <input id="age" formControlName="age" type="number" />
          <div *ngIf="registrationForm.get('age')?.invalid && registrationForm.get('age')?.touched">
            <small *ngIf="registrationForm.get('age')?.errors?.['required']">Age is required.</small>
            <small *ngIf="registrationForm.get('age')?.errors?.['min']">
              Age must be at least 18.
            </small>
            <small *ngIf="registrationForm.get('age')?.errors?.['max']">
              Age must be under 60.
            </small>
          </div>
        </div>

        <!-- Email Field -->
        <div>
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" />
          <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            <small *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registrationForm.get('email')?.errors?.['email']">Enter a valid email.</small>
          </div>
        </div>

        <!-- Course Field -->
        <div>
          <label for="course">Course:</label>
          <input id="course" formControlName="course" />

          <div *ngIf="registrationForm.get('course')?.invalid && registrationForm.get('course')?.touched">
            <small *ngIf="registrationForm.get('course')?.errors?.['required']">Course is required.</small>
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="registrationForm.invalid">Register</button>
      </form>

    </div>
  </div>
</main>

<router-outlet />
